# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# Android
android/app/build/
android/build/
*.apk
*.aab
*.so
android/local.properties

# iOS
ios/build/
ios/Pods/
Podfile.lock

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Other
*.log
*.swp
.DS_Store
*.temp
